body {
  padding: 0px;
}

.outerContainer {
  display: flex;
  background-color: #e2e2e2;
  min-height: 100vh;
}

.sidebarContainer {
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  height: 100%;
}
