body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: none;
}

.button:hover {
  cursor: pointer;
}

.buttonNavigationContainer {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.cardsContainer {
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 25px;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 175px;
  height: 185px;
  text-align: center;
  margin: 0 auto;
}

.cardContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 25px;
  margin: 0 auto;
  justify-content: flex-end;
  background-color: white;
}

.title {
  font-size: 10px;
  color: #444444;
  margin-bottom: 5px;
}

.completenessContainer {
  background-color: #8888dd;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  justify-content: center;
}

.completeness {
  height: 25px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  margin: 0 auto;
}
