.pageContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

}

.pageContainer .MuiPaper-root{
  align-self: center;
}

.addIngredientsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.inputBox {
}


.inventoryHeader {
  display: flex;
  height:50px;
  background-color: #A4A4A4;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  align-items:center;
  justify-content: center;

}
