body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  row-gap: 80px;
  justify-content: space-between;
}

.button {
  padding: 0px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid black;
}

.button:hover {
  cursor: pointer;
  background-color: #e2e2e2;
}

.buttonNavigationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 45px;
  width: 100%;
}

.cardsContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 20px;
  column-gap: 40px;
}








